.sign {
    margin-top: 30%;
    border: solid 1px #9d9d9d;
    border-radius: 20%;
}

.container {
    width: 35%;
}

.header {
    border: groove;
}

.signbutt {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}

.pass {
    padding-top: 5%;
}

/*studio*/

.font {
    font-size: 3.5em;
    text-align: center;
    margin-top: 1%;
    color: rgba(31, 45, 178, 0.8);
    text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #000;
}

.signState {
    font-size: large;
    margin-top: 2%;

}

.select {
    margin-top: 4%;
    margin-left: 25%;
    border-radius: 15px;
    width: 30%;
}

.tableLoaction {
    margin-top: 8%;
}

/*user*/

.tableUser {
    margin-top: 6%;
}

.page {
    float: left;
    position: relative;
    left: 30%;

}