.sign {
    margin-top: 30%;
    border: solid 1px #9d9d9d;
    border-radius: 20%;
}

.container {
    width: 35%;
}

.butt {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}

.pass {
    padding-top: 5%;
}
